html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}
* {
    margin: 0;
    padding: 0;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- example box -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.example_box {
    width: 340px;
    height: 380px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    position: relative;
/*    position: absolute;*/
/*    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);*/
    margin:20px  auto;
}
.example_box > h3 {
    font-size: 6.5em;
    line-height: 340px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
    transition: .2s ease;
    z-index: -1;
    font-weight: 00
}
.example_box:hover h3 {
    line-height: 170px;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.three_d {
    background: linear-gradient(to bottom right, #000000 0%, rgba(81, 81, 81, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(81, 81, 81, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(81, 81, 81, 0.6);
    box-shadow: 0 3px 8px rgba(81, 81, 81, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.erro_r {
    background: linear-gradient(to bottom right, #ff2929 0%, rgba(123, 24, 24, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(123, 24, 24, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(123, 24, 24, 0.6);
    box-shadow: 0 3px 8px rgba(123, 24, 24, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.bacgroun_d {
    background: linear-gradient(to bottom right, #0099ff 0%, rgba(0, 68, 255, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(0, 68, 255, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(0, 68, 255, 0.6);
    box-shadow: 0 3px 8px rgba(0, 68, 255, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.carouse_l {
    background: linear-gradient(to bottom right, #04FF92 0%, rgba(34, 255, 0, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(34, 255, 0, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(34, 255, 0, 0.6);
    box-shadow: 0 3px 8px rgba(34, 255, 0, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.butto_n {
    background: linear-gradient(to bottom right, #FF00B2 0%, rgba(255, 0, 78, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(255, 0, 78, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(255, 0, 78, 0.6);
    box-shadow: 0 3px 8px rgba(255, 0, 78, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.for_m {
    background: linear-gradient(to bottom right, #FF5700 0%, rgba(255, 188, 154, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(255, 188, 154, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(255, 188, 154, 0.6);
    box-shadow: 0 3px 8px rgba(255, 188, 154, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.galle_r {
    background: linear-gradient(to bottom right, #7700FF 0%, rgba(30, 138, 210, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(30, 138, 210, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(30, 138, 210, 0.6);
    box-shadow: 0 3px 8px rgba(30, 138, 210, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.imag_e {
    background: linear-gradient(to bottom right, #E6FF00 0%, rgba(255, 126, 51, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(255, 126, 51, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(255, 126, 51, 0.6);
    box-shadow: 0 3px 8px rgba(255, 126, 51, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.iphon_e {
    background: linear-gradient(to bottom right, #53FFE2 0%, rgba(0, 144, 255, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(0, 144, 255, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(0, 144, 255, 0.6);
    box-shadow: 0 3px 8px rgba(0, 144, 255, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.men_u {
    background: linear-gradient(to bottom right, #00FFE5 0%, rgba(58, 255, 51, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(58, 255, 51, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(58, 255, 51, 0.6);
    box-shadow: 0 3px 8px rgba(58, 255, 51, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.text_style {
    background: linear-gradient(to bottom right, #005267 0%, rgba(34, 209, 203, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(34, 209, 203, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(34, 209, 203, 0.6);
    box-shadow: 0 3px 8px rgba(34, 209, 203, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.text_with_foto {
    background: linear-gradient(to bottom right, #B400FF 0%, rgba(34, 81, 209, 0.78) 100%);
    -webkit-box-shadow: 0 3px 8px rgba(34, 81, 209, 0.6);
    -moz-box-shadow: 0 3px 8px rgba(34, 81, 209, 0.6);
    box-shadow: 0 3px 8px rgba(34, 81, 209, 0.6);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* example_box:hover {} style */
.box_example_hover {
    width: 85%;
    height: 88%;
    background: rgba(255, 255, 255, 0.25);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 4px;
    opacity: 0;
    transition: all .3s ease;
    overflow: hidden;
}
.example_box:hover .box_example_hover {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.box_example_hover:before {
    content: '';
    width: 4px;
    height: 65%;
    background: white;
    position: absolute;
    top: -70%;
    left: 0;
    transition: top .5s cubic-bezier(0.680, -0.550, 0.265, 1.550) .3s;
}
.box_example_hover:hover:before {
    top: 10%;
}
.box_example_hover:after {
    content: '';
    width: 4px;
    height: 65%;
    background: white;
    position: absolute;
    top: 100%;
    right: 0;
    transition: top .5s cubic-bezier(0.680, -0.550, 0.265, 1.550) .3s;
}
.box_example_hover:hover:after {
    top: 25%;
}
/* button dobel style */
.btn-dobel {
    width: 89%;
    height: 59px;
    background: rgba(0, 153, 255, 0.29);
    line-height: 60px;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -95%);
    text-align: center;
    transition: .3s ease-in-out;
    border: 1px solid transparent;
}
.btn-dobel > a {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}
.btn-dobel:before {
    content: '';
    width: 98%;
    height: 50px;
    background: rgb(0, 153, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 8px;
}
.btn-dobel:hover{
    border: 1px solid white;
    height: 59px;
    width: 279px;
}
.shadow_example_box_a {
    width: 8px;
    height: 360px;
    background: #005DFF;
/*    z-index: -1;*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 97%;
    box-shadow: 0 3px 9px #005DFF;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    opacity: 0;
    transition: .3s
}
.example_box:hover .shadow_example_box_a {
    left: 101%;
    opacity: 1;
}
.shadow_example_box_b {
    width: 8px;
    height: 340px;
    background: #00FF90;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 97%;
    box-shadow: 0 3px 9px #00FF90;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    transition: .3s ;
    opacity: 0;
}
.example_box:hover .shadow_example_box_b {
    left: 105%;
    opacity: 1;
}
.shadow_example_box_c {
    width: 8px;
    height: 320px;
    background: #FF004E;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 97%;
    box-shadow: 0 3px 9px #FF004E;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    opacity: 0;
    transition: .3s 
}
.example_box:hover .shadow_example_box_c {
    left: 109%;
    opacity: 1;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*                    @media style example_box                   */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media only screen and (max-width: 700px) {
    .example_box {
        width: 140px;
        height: 180px;
    }
    .example_box > h3 {
        font-size: 4em;
        line-height: 180px;
    }
    .btn-dobel {
        width: 85%;
        height: 40px;
        line-height: 40px;
        font-size: .8em
    }
    .btn-dobel:before {
        width: 95%;
        height: 35px;
    }
    .btn-dobel:hover{
        border: 1px solid white;
        height: 39px;
        width: 84px;
    }
    .shadow_example_box_a,
    .shadow_example_box_b,
    .shadow_example_box_c { display: none;}
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- endexample box -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */       /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */